body {
	font-family: OCR-A, monospace;
	font-size: 1em;
	color:#000000;
	background-color:#dddddd;
	/*
	width:80%;
	margin:0 auto;
	*/
}
#blocklist {
	height :700px;
	overflow: scroll;
}
#error {
	background-color:#ff0000;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#blocklist::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#blocklist {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.side {
	width:50%;
	display: inline-block;
	margin:0px;
	padding:0px;
	float:left;
}
#fileinput {
	background-color:#00ff00;
	padding:.5em;
}
#fileinput::after {
	content: "";
	clear: both;
	display: table;
}
#fileinput span {
	width:33%;
	display: inline-block;
	margin:0px;
	padding:0px;
	float:left;
}
#bpname {
	text-align:center;
}
#filespan {
	text-align:right;
}
#bp, #item {
	display:none
}
#Mconvertoer, #DL{
	font-family: OCR-A, monospace;
	font-size:1em;
}
#fileinput label, #Mconvertoer, #DL {
	background-color: #5555ee;
	padding:.25em;
	color: white;
	border-radius: 5px;
	border: 1px ridge black;
	height: auto;
}

#fileinput label:hover, #Mconvertoer:hover, #DL:hover {
	background-color: #ee5555;
	color: white;
}